{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
      "semi": [1, "never"],
      "no-console": [0]
  },
  "env":{
    "node": true
  },
  "globals":{
    "Uint8Array": true
  }
}